.info {
	font:17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
	padding-left: 5%;
}

input {
	border: 1px solid black
}

.lineup {
	float:left;
}

.vert_lineup {
	padding-left: 15%;
	padding-bottom: 5%;
}

#pic2 {
	position: relative;
	top: 175px;
	right: 25px;
}

#pic3 {
	position: relative;
	top: 350px;
	right: 50px;
}